@import "./contents/header";
@import "./contents/page";

#menu{
  .contents {
    position: absolute;
    top: 0;
    left: 0;
    // margin: 5vh 0;
    height: 100vh;
    z-index: 1;
    transition: opacity 0.5s ease;

    &.show{ opacity: 1; }
    &.hide{ opacity: 0; }
  }

  .border_line{
      width: 100vw;
      margin: 0 0 5vh;
      height: 2px;
      background: #3F3F37;

    &.bottom {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
