#menu{
  .contents {
    .header{
      nav{
        width: 90vw;
        margin: 5vh 5vw 2vh;
        letter-spacing: 2px;

        ul{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          position: relative;

          li{
            position: relative;
            width: 13%;

            div {
              transition: bottom 0.3s linear;
            }

            div.button {
              padding: 1em 0;
              height: 3em;
              box-sizing: border-box;
              min-width: 120px;
              background: #ACA996;
              text-align: left;
              vertical-align: middle;
              position: relative;
              z-index: 0;

              &:before{
                display: inline-block;
                width: 1em; height: 1em;
                margin-right: .5em; margin-left: .5em;
                background: #3F3F37;
                content: '';
              }

              &::after{
                display: block;
                width: 0;
                height: 3em;
                position: absolute;
                top: 0; left: 0;
                background: #3F3F37;
                z-index: -1;
                content: '';
                transition: all .1s ease-in;
              }
            }

            &:hover {
              div.button {
                color: #E5E5C7;

                &:before{
                  display: inline-block;
                  width: 1em; height: 1em;
                  margin-right: .5em; margin-left: .5em;
                  background: #E5E5C7;
                  content: '';
                }

                &::after {
                  width: 100%;
                }
              }

              div.line_top {
                height: 1px;
                width: 100%;
                background: #3F3F37;
                position: absolute;
                top: -3px;
              }

              div.line_bottom {
                height: 1px;
                width: 100%;
                background: #3F3F37;
                position: absolute;
                bottom: -3px;
              }
            }

            &.selected {
              animation: palse 1s linear infinite alternate;

              div.button {
                background: #3F3F37;
                color: #E5E5C7;

                &:before{
                  display: inline-block;
                  width: 1em; height: 1em;
                  margin-right: .5em; margin-left: .5em;
                  background: #E5E5C7;
                  content: '';
                }
              }

              div.line_top {
                opacity: 0;
              }

              div.line_bottom {
                height: 2vh;
                width: 100%;
                background: #3F3F37;
                position: absolute;
                bottom: -2vh;
              }
            }
          }
        }
        &.hide>ul>li{ opacity: 0 }
        &.show>ul>li{ opacity: 1 }
      }
    }
  }
}
