#menu{
  .contents {
    .header{
      nav{
        width: 90vw;
        margin: 5vh 5vw 2vh;
        letter-spacing: 2px;


        ul{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          position: relative;

          li{
            transition: all 0.5s ease;
            position: relative;
            width: 13%;

            div {
              transition: top,bottom,height 0.3s linear;
            }

            div.button {
              padding: 10px 0;
              min-width: 120px;
              background: #ACA996;
              text-align: left;
              vertical-align: middle;

              &:before{
                display: inline-block;
                width: 1em; height: 1em;
                margin-right: .5em; margin-left: .5em;
                background: #3F3F37;
                content: '';
              }
            }

            &:hover {
              div.button {
                background: #3F3F37;
                color: #E5E5C7;

                &:before{
                  display: inline-block;
                  width: 1em; height: 1em;
                  margin-right: .5em; margin-left: .5em;
                  background: #E5E5C7;
                  content: '';
                }
              }

              div.line_top {
                height: 1px;
                width: 100%;
                background: #3F3F37;
                position: absolute;
                top: -3px;
              }

              div.line_bottom {
                height: 1px;
                width: 100%;
                background: #3F3F37;
                position: absolute;
                bottom: -3px;
              }
            }

            &.selected {
              animation: palse 1s linear infinite alternate;

              div.button {
                background: #3F3F37;
                color: #E5E5C7;

                &:before{
                  display: inline-block;
                  width: 1em; height: 1em;
                  margin-right: .5em; margin-left: .5em;
                  background: #E5E5C7;
                  content: '';
                }
              }

              div.line_top {
                height: 3px;
                width: 100%;
                background: #3F3F37;
                position: absolute;
                top: -3px;
              }

              div.line_bottom {
                height: 20px;
                width: 100%;
                background: #3F3F37;
                position: absolute;
                bottom: -16px;
              }
            }
          }
        }
        &.hide>ul>li{ opacity: 0 }
        &.show>ul>li{ opacity: 1 }
      }
    }
  }
}
