@import "./page/tips";

#menu{
  .contents {
    .page{
        width: 90vw;
        margin: 0 3vw 5vh 7vw;

      h1.page_title {
        height: 4rem;
        font-size: 3rem;
        letter-spacing: 0.15em;
        margin:  0 0 2vh;
        text-shadow: 0.12em 0.12em 0 #ACA996;
      }

      .page_box {
        display: flex;
        justify-content: space-between;

        nav.sub_nav {
          ul {
            li{
              transition: all 0.8s ease;
              position: relative;
              width: 30vw;
              margin-bottom: 1em;
              cursor: pointer;
              // transition: left, opacity 0.5s linear;


              div {
                transition: top,bottom,height 0.3s linear;
              }

              div.button {
                padding: 10px 0;
                min-width: 120px;
                background: #ACA996;
                text-align: left;
                vertical-align: middle;
                height: 1em;
                position: relative;
                z-index: 1;
                transition: all .5s ease;

                &:before{
                  display: inline-block;
                  width: 1em; height: .9em;
                  margin-right: .5em; margin-left: .5em;
                  background: #3F3F37;
                  content: '';
                }

                &::after{
                  display: block;
                  width: 0vw; height: inherit;
                  position: absolute;
                  top: 0; left: 0;
                  background: #3F3F37;
                  z-index: -1;
                  padding: inherit;
                  height: inherit;
                  content: '';
                  transition: all .1s ease-in;
                }
              }

              &:hover {

                div.button {
                  color: #E5E5C7;

                  &:before{
                    display: inline-block;
                    width: 1em; height: 1em;
                    margin-right: .5em; margin-left: .5em;
                    background: #E5E5C7;
                    content: '';
                  }

                  &::after{
                    width: 30vw;
                  }
                }

                div.line_top {
                  height: 1px;
                  width: 100%;
                  background: #3F3F37;
                  position: absolute;
                  top: -3px;
                }

                div.line_bottom {
                  height: 1px;
                  width: 100%;
                  background: #3F3F37;
                  position: absolute;
                  bottom: -3px;
                }
              }

              &.selected {
                div.button {
                  background: #3F3F37;
                  color: #E5E5C7;

                  &:before{
                    display: inline-block;
                    width: 1em; height: 1em;
                    margin-right: .5em; margin-left: .5em;
                    background: #E5E5C7;
                    content: '';
                  }

                  &::after{
                    width: 30vw;
                  }
                }
                div.line_top {
                  height: 1px;
                  width: 100%;
                  background: #3F3F37;
                  position: absolute;
                  top: -3px;
                }

                div.line_bottom {
                  height: 1px;
                  width: 100%;
                  background: #3F3F37;
                  position: absolute;
                  bottom: -3px;
                }
              }
            }
          }

          &.show {ul li { opacity: 1; left: 0;}}
          &.hide {ul li { opacity: 0; left: -10vw; transition-duration: .4s !important; }}
        }

        .text {
          width: 55vw;
          height: 40vh;
          background: #D6D1BA;
          box-sizing: border-box;
          padding: 2em;
        }
      }
    }
  }
}
