@import "./menu/contents";
@import "./menu/bg";

#menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #41403A;

  &.show{ z-index: 0; }
  &.hide{ z-index: -1; }
}

@keyframes palse {
  0% { opacity: 0.6}
  100% { opacity: 1}
}
