#menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  &.show{
    z-index: 0;
  }

  .bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &.hide{
    .content{ opacity: 0; }
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    .close{
      width: 100%;
      text-align: center;
      line-height: 100vh;
    }
  }
}
